<div class="header--nav">
    <div class="nav">
        <div class="flex-left">
            <p><a href="/user/dashboard/">Home</a></p>
        </div>
        <div class="flex-right">    
            <p><a href="/user/password-reset/">Password reset </a></p>
            <p><a href="/logout/"> Logout</a></p>
        </div>
    </div>
</div>