<div class="signup-form">
    <div class="container">
      <div class="header">
        <h1>Enter your registered email to get your new Password </h1>
      </div>
      <form method="POST" action="/forgot-password/">
        <div class="input">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" placeholder="email" />
        </div>
        <input class="signup-btn" type="submit" value="Get new password to mail" />
      </form>
    </div> 
  </div>