<div class="signup-form">
    <div class="container">
      <div class="header">
        <h1>Create an Account</h1>
        <p>Get started for free!</p>
      </div>
      <form method="POST" action="/user/create-user">
        <div class="input">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="input">
          <i class="fa-solid fa-lock"></i>
          <input type="password" name="password" placeholder="Enter your Password" />
        </div>
        <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="confirmPassword" placeholder="Enter your Password again" />
          </div>
        <input class="signup-btn" type="submit" value="SIGN UP" />
      </form>
      <p>Or sign up with</p>
      <div class="social-icons">
        <i class="fa-brands fa-google"></i>
      </div>
      <p>Already have an account <a href="/">sign in</a></p>
    </div>
  </div>