<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- style %>
   
    <meta name="google-signin-client_id" content="533405761617-acf791cqn6em80ocv346sd0jd0fi6eo7.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body>
    
   <%- body %>
   
<script>
        <% if (alerts.error) { %>
 
        <% for(let i=0;i<alerts.error.length;i++){ %>
            new Noty({
            theme: 'mint',
            type: 'error',
            text: '<%= alerts.error[i] %>',
            layout: 'topRight',
            timeout: 1500,
        }).show();
       <% } %>     
           
        <% } %>   
       <% if(alerts.success){ %>
        new Noty({
            theme: 'mint',
            type: 'success',
            text: '<%= alerts.success %>',
            layout: 'topRight',
            timeout: 1500,
        }).show();
        
       <% } %>
</script>

</body>
</html>