<div class="header--nav">
    <div class="nav">
        <div class="flex-left">
            <p><a href="/user/dashboard/">Home</a></p>
        </div>
        <div class="flex-right">    
            <p><a href="/user/password-reset/">Password reset </a></p>
            <p><a href="/logout/"> Logout</a></p>
        </div>
    </div>
</div>

<div class="signup-form">
    <div class="container">
      <div class="header">
        <h1>Reset your password</h1>
      </div>
      <form method="POST" action="/user/password-reset">
        <% if(accountType=='googleAccount'){ %>
        <input type="hidden" name="Oldpassword" value="<%= oldPassword %>" />    
        <% } %>
        <%if(accountType=='googleAccount'){ %>
        <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input type="password" placeholder="Enter your OldPassword" name="Oldpassword-<%=oldPassword %>"   disabled  value="<%= oldPassword %>" placeholder="<%= oldPassword %>"  />
        </div>
        <% }else{ %>
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" placeholder="Enter your Old Password" name="Oldpassword" />
            </div>
        <% } %>
        <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="NewpasswordOne" placeholder="Enter your New Password" />
        </div>
        <div class="input">
            <i class="fa-solid fa-lock"></i>
            <input type="password" name="NewpasswordConfirm" placeholder="Enter your New Password Again" />
        </div>
        <input class="signup-btn" type="submit" value="Change Password" />
      </form>
      
    </div> 
  </div>