<div class="signup-form">
    <div class="container">
      <div class="header">
        <h1>Sign in</h1>
        
      </div>
      <form method="POST" action="/user/check-authentication">
        <div class="input">
          <i class="fa-solid fa-envelope"></i>
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="input">
          <i class="fa-solid fa-lock"></i>
          <input type="password" name="password" placeholder="Password" />
        </div>
        <input class="signup-btn" type="submit" value="SIGN IN" />
      </form>
      <p>Or sign up with</p>
      <div class="social-icons">
        <a href=""><i class="fa-brands fa-google"></i></a>
      </div>
      <p><a href="/forgot-password/">Forget Password</a></p>
      <p>Don't have a account ? <a href="/register/">Register now</a></p>
    </div>
  </div>